* {
    font-family: "Open Sans", sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.header{
    width: 100%;
    background-color: #FFF;
    height: 110px;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 99% 1%;
    border-bottom: 3px solid #0b5917;
}

.logo {
    margin: auto;
}

.topnav {
    background-color: #FFF;
    overflow: hidden;
    height: 60px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 50px;
}

.responsive_topnav{
    height: 0;
}


.topnav_a, .hamburger{
    background-color: #FFFFFF;
    display: grid;
    color: #000;
    width: 127px;
    height: 60px;
    font-size: 20px;

    box-sizing: border-box;
	transition: all 0.5s ease;
    text-decoration: none;
    place-items: center;
}

.hamburger {
    display: none;
    font-size: 40px;
}

.responsive_topnav {
    display: none;
}

.topnav_a:hover, .hamburger:hover{
    border: 2px solid #0b5917;
    transition: all 0.1s ease;
}



/* HERO */
.hero_long {
    background-image: url(images/hero_long.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 690px;
    margin-top: 110px;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 90% 10%;
}


.hero_short {
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    display: flex;
    margin-top: 110px;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}





/* HOMEPAGE */
h1 {
    text-align: center;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #0b5917;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    margin: auto;
}

h2 {
    margin-top: 2%;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}


.scroll_down_btn {
    margin: auto;
    width: 60px;
    height: 60px;
    background-image: url(images/scroll_down_btn.svg);
    background-size: cover;
    border-radius: 50%;
    display: flex;
    scroll-behavior: smooth;
	transition: all 0.5s ease;
}

.scroll_down_btn:hover {
    background-image: url(images/scroll_down_btn_hover.svg);
    cursor: pointer;
}

.p1 {
    text-align: center;
    font-size: 18px;
    background-color: #FFFFFF;
    width: 60%;
    height: auto;
    margin: 30px auto;
    padding: 20px;
}


.home_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin:60px auto;
}

.left_arrow {
    display: none;
    background-image: url(images/left_arrow.svg);
    height: 60px;
    width: 60px;
    margin: auto;
    border-radius: 50%;
    background-size: cover;
    grid-column: 1;
}

.right_arrow{
    display: none;
    background-image: url(images/right_arrow.svg);
    height: 60px;
    width: 60px;
    margin: auto;
    border-radius: 50%;
    background-size: cover;
    grid-column: 5;
}


.left_arrow:hover{
    cursor: pointer;
    background-image: url(images/left_arrow_hover.svg);
    border: 3px solid #0b5917;
    box-sizing: border-box;
}

.right_arrow:hover{
    cursor: pointer;
    background-image: url(images/right_arrow_hover.svg);
    border: 3px solid #0b5917;
    box-sizing: border-box;
}

.home_container_item{
    background-position: center;
    background-size: cover;
    background-color: grey;
    height: 300px;
    width: 300px;
    border: 3px solid #0b5917;
    margin: auto;
    display: grid;
    padding: 10px;
    grid-template-rows: 75% 25%;
}

.home_container_item h3 {
    font-size: 45px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0b5917;
    margin: auto;
    text-align: center;
}

.home_wiecej {
    background-color: #0b5917;
    color: #FFFFFF;
    font-size: 20px;
    height: 60px;
    width: 127px;
    border: none;
    margin: auto;
}

.home_wiecej:hover {
    background-color: #0b3517;
    cursor: pointer;
    transition: all 0.5s ease;
}


.p2{
    font-size: 18px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 60% 40%;
    width: 60%;
    height: auto;
    margin: 30px auto;
    padding: 30px;
    border: 3px solid #0b5917;
}


.home_click_me{
    background-color: #0b5917;
    color: #FFFFFF;
    padding: 3px;
    height: 60px;
    width: 170px;
    font-size: 20px;
    border: none;
    margin: auto;
}

.home_click_me:hover{
    background-color: #0b3517;
    transition: all 0.5s ease;
    cursor: pointer;
}




/* O NAS */
.osoby{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 50%;
    row-gap: 50px;
    margin: 50px auto;
    height: auto;

}

.osoba {
    height: auto;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 30% 70%;
    row-gap: 15px;
    column-gap: 10px;
    border: 3px solid #0b5917;
    padding: 15px;

}

.osoba_img {
    border-radius: 50%;
    border: 3px solid #0b5917;
    height: 150px;
    width: 150px;
    grid-row: 1 / span 2;
    grid-column: 1;
    justify-self: center;
    background-size: cover;
    background-position: center;
}

.osoba h3{
    grid-column: 2;
    grid-row: 1;
    font-size: 26px;
    justify-self: start;
    align-self: center;
}

.osoba_opis{
    font-size: 18px;
    grid-row: 2;
    grid-column: 2;

}





/* SZKOLENIA */
.szkolenia{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 30px;
    width: 80%;
    margin: 50px auto;
}

.szkolenie{
    background-position: center;
    background-size: cover;
    display: grid;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    border: 3px solid #0b5917;
    background-color: grey;

}

.szkolenie h3 {
    margin: auto;
    font-size: 70px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0b5917;
}

.szkolenie:hover{
    cursor: pointer;
    border: 7px solid #0b5917;
    transition: all 0.5s ease;
}





/* KONTAKT */
.form {
    width: 40%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border: solid 3px #0b5917;
    overflow: hidden;
}

.form label {
    margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form input[type="file"],
.form textarea {
    width: calc(100% - 10px);
    padding: 4px;
    margin-bottom: 15px;
    border: 1px solid #0b5917;
    font-size: 17px;
}

.form input[type="file"]:hover {
    cursor: pointer;
}


.form textarea {
    resize: vertical;
    min-height: 60px;
    max-height: 200px;
}

.form button {
    background-color: #0b5917;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    float: right;
    font-size: larger;

}

.form button:hover {
    background-color: #0b3517;
	transition: all 0.5s ease;

}


.accept-regulations input[type="checkbox"] {
    margin: 0;
}

.accept-regulations input[type="checkbox"]:hover {
    cursor: pointer;
}


.accept-regulations {
    float: left;
}

.regulamin {
    text-decoration: underline;
    color: #000;
}

.regulamin:visited {
    color: #000;
}






/* LOGOWANIE */

.login_form{
    margin: 40px auto;
    display: grid;
    width: 40%;
    border: 3px solid #0b5917;
    padding-bottom: 15px;
}

.login_form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 80%;
    margin: auto;
    row-gap: 30px;
}

.login_form input[type="text"]{
    font-size: 24px;
    border: 1px solid #0b5917;
    grid-column: 1 / span 2;
    grid-row: 1;
}

.login_form input[type="password"]{
    font-size: 24px;
    border: 1px solid #0b5917;
    grid-column: 1/ span 2;
    grid-row: 2;
}

.login_form button{
    height: 40px;
    font-size: 24px;
    background-color: #0b5917;
    border: none;
    color: #FFFFFF;
    grid-column: 1/ span 2;
    grid-row: 3;
}

.login_form button:hover{
    cursor: pointer;
    background-color: #0b3517;
    transition: all 0.5s ease;
}



.login_form .link1{
    text-decoration: none;
    text-align: center;
    grid-column: 1;
    grid-row: 4;
    margin: auto;
    color: black;
}

.login_form .link1:hover{
    border: 2px solid #0b5917;
    transition: all 0.1s ease;
    padding: 5px;
}

.login_form .link1:visited{
    color: black;
}


.login_form .link2{
    text-decoration: none;
    text-align: center;
    grid-column: 2;
    grid-row: 4;
    margin: auto;
    color: black;
}

.login_form .link2:visited{
    color: black;
}

.login_form .link2:hover{
    border: 2px solid #0b5917;
    transition: all 0.1s ease;
    padding: 5px;
}





/* REJESTRACJA */

.signup_form {
    margin: 40px auto;
    display: grid;
    width: 40%;
    border: 3px solid #0b5917;
    padding-bottom: 15px;
}

.signup_form form{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    row-gap: 30px;
}

.signup_form input[type="text"],
.signup_form input[type="tel"],
.signup_form input[type="email"],
.signup_form input[type="password"]{
    font-size: 18px;
    border: 1px solid #0b5917;
    grid-column: 1;
}

.signup_form .repas{
    height: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.signup_form .error_label{
    display: grid;
    height: 20px;
    font-size: 0;
    color: #F62020;
    text-align: center;
    top: -10px;
}

.signup_form .acc_regulamin, .signup_form .acc_newsletter{
    align-self: center;
}

.acc_newsletter input[type="checkbox"]{
    margin: 0;
}

.signup_form form .sign_for_newsletter{
  grid-row-gap: 100px;
}

.signup_form button{
    height: 40px;
    font-size: 24px;
    background-color: #0b5917;
    border: none;
    color: #FFFFFF;
    grid-column: 1;
}

.signup_form button:hover{
    cursor: pointer;
    background-color: #0b3517;
    transition: all 0.5s ease;
}



.signup_form .link{
    text-decoration: none;
    text-align: center;
    grid-column: 1;
    margin: auto;
    color: black;
}

.signup_form .link:hover{
    border: 2px solid #0b5917;
    transition: all 0.1s ease;
    padding: 5px;
}


/* DASHBOARD */

.dashboard_panel {
    margin: 40px auto;
    display: grid;
    width: 40%;
    border: 3px solid #0b5917;
    padding-bottom: 15px;
}

.dashboard_panel form{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0 1fr 1fr;
    width: 80%;
    margin: auto;
    row-gap: 30px;
}

.dashboard_panel input[type="text"],
.dashboard_panel input[type="tel"],
.dashboard_panel input[type="email"],
.dashboard_panel input[type="password"]{
    font-size: 18px;
    border: 1px solid #0b5917;
    grid-column: 1;
}

.dashboard_panel .repas{
    height: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.dashboard_panel .error_label{
    display: grid;
    height: 20px;
    font-size: 0;
    color: #F62020;
    text-align: center;
    top: -10px;
}

.dashboard_panel .acc_newsletter{
    align-self: center;
}

.dashboard_panel input[type="checkbox"]{
    margin: 0;
}

.dashboard_panel form .sign_for_newsletter{
  grid-row-gap: 100px;
}

.dashboard_panel button{
    margin-bottom: 20px;
    height: 40px;
    font-size: 24px;
    background-color: #0b5917;
    border: none;
    color: #FFFFFF;
    grid-column: 1;
}

.dashboard_panel button:hover{
    cursor: pointer;
    background-color: #0b3517;
    transition: all 0.5s ease;
}


/* FOOTER */
footer a {
  color: #FFFFFF;
  text-decoration: none;
}

footer a:hover {
    color: #CECECE;
	transition: all 0.5s ease;
}

footer li {
  list-style: none;
}

footer input {
  height: 100%;
}

footer input[type="email"] {
    margin-bottom: 0;
    height: 20px;
    padding: 7px 8px;
    border: 1px solid #000000;
}

footer input[type="email"]:focus {
    outline: none;
}


footer input[type='submit'] {
    padding: 7px 12px;
    background: #0b3517;
    color: #FFFFFF;
    border: 1px solid #000000;
    cursor: pointer;
    height: 35px;
}

footer input[type='submit']:hover {
    background-color: #0b2517;
    transition: all ease 0.5s;
}


footer main {
  flex: 1;
}

footer {
    bottom: 0;
    background-color: #0b5917;
    color: #FFFFFF;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


footer .info {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0b3517;
}

footer .info .legal {
    display: flex;
    flex-wrap: nowrap;
}

footer .info .legal > a {
    margin-right: 15px;
}

.footer_hr {
    width: 90%;
    border: 1px solid #FFFFFF;
}

footer .social {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .social i {
    font-size: 1.4rem;
    margin: 2px 8px;
    cursor: pointer;
}

footer .social i:hover{
    color: #CECECE;
    transition: all 0.5s ease;
}

footer .top {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

footer .top .pages {
    display: flex;
    flex-direction: row;
}

footer .top .pages ul {
    margin: 20px;
}

footer .top .pages ul li {
    margin: 5px;
}

footer .newsletter h3 {
    margin-bottom: 10px;
}
footer .newsletter form {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Responsive adjustments */
@media screen and (max-width: 1227px){

    .home_container{
        width: 60%;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 100%;
        margin: auto;
    }

    .left_arrow{
        display: grid;
        grid-column: 1;
    }

    .right_arrow{
        display: grid;
        grid-column: 3;
    }


    .home_container_item{
        display: none;
    }

    .visible{
        grid-column: 2;
        display: grid;
    }

    .topnav{
        display: none;
    }

    .hamburger {
        display: grid;
        margin: auto;
        grid-column: 3;

    }

    .header{
        grid-template-columns: 30% 40% 30%;
    }


    .responsive_topnav {
        grid-column: 1 / span 3;
        display: grid;
        margin-top: 110px;
        grid-template-rows: repeat(5, 1fr);
        row-gap: 20px;
        place-items: center;
        background-color: #FFFFFF;
        position: fixed;
        width: 100vw;
        height: 550px;
        border-top: 3px solid #FFFFFF;
        border-bottom: 3px solid #0b5917;
        border-left: 3px solid #FFFFFF;
        border-right: 3px solid #0b5917;
        padding-bottom: 20px;
    }

    .topnav_a{
        height: 90px;
        width: 38vw;
        font-size: 30px;
        min-width: 165px;
    }

    .p1 {
        text-align: center;
    }

    .p2_text{
        text-align: center;
    }

    .osoba {
        grid-template-rows: 160px 10% 40%;
        grid-template-columns: 1fr;
        column-gap: 0;
    }


    .osoba_img{

        grid-row: 1;
        grid-column: 1 / span 2;
    }

    .osoba h3 {
        justify-self: center;
        text-align: center;
        grid-row: 2;
        grid-column: 1 / span 2;
    }

    .osoba_opis {
        text-align: center;
        grid-row: 3;
        grid-column: 1 / span 2;
        padding: 10px;
    }

    .szkolenie:hover{
        cursor: pointer;
        box-sizing: border-box;
        border: 7px solid #0b5917;
        transition: all 0.5s ease;
    }
    
    

    .login_form .link1:hover, .login_form .link2:hover{
        border: none;
        padding: 0;
        text-decoration: underline;
    }

}

@media screen and (max-width: 828px) {

    .home_container{
        width: 90%;
    }

    .form{
        width: 80%;
    }

    .szkolenie h3{
        font-size: 8vw;
    }

    footer .top {
        flex-direction: column;
    }
    footer .top .newsletter {
        padding-top: 1rem;
    }
    footer .top .pages ul {
        margin: 10px;
    }

    .signup_form {
        width: 85%;
    }

    .dashboard_panel{
        width: 85%;
    }

}

@media screen and (max-width: 600px) {

    .home_container_item{
        width: 250px;
        height: 250px;
    }

    .home_container_item h3{
        font-size: 41px;
    }

    .home_container{
        grid-template-columns: 1fr auto 1fr;
        width: 100%;
    }


    footer .top .pages {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    footer .info {
        flex-direction: column;
    }

    footer .info > .copyright {
        margin-top: 10px;
    }

    .p2 {
        margin-top: 45px;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
        padding-bottom: 50px;
    }

    .login_form {
        width: 80%;
    }


    h1 {
        font-size: 16vw;
        -webkit-text-stroke-width: 3px;
    }

}

@media screen and (max-width: 480px){
    .left_arrow{
        width: 45px;
        height: 45px;
    }
    .right_arrow{
        width: 45px;
        height: 45px;
    }
}


@media screen and (max-width: 450px){
    .p2 {
        grid-template-columns: 100%;
        grid-template-rows: 90% 10%;
    }

    .osoby{
        width: 90%;
    }

    .home_container_item{
        width: 225px;
        height: 225px;
    }

    .home_container_item h3{
        font-size: 35px;
    }


    .signup_form h2{
        font-size: 32px;
    }

}


@media screen and (max-width: 380px) {
  footer .top .pages {
    justify-content: center;
    flex-direction: column;
  }

  footer .info .legal {
    justify-content: center;
  }

  footer .info .legal a {
    margin: 0;
    text-align: center;
  }

}
